#evaluate-layer{
    width: 90%;
    margin: 2vh 3% 4vh;
    background: rgba(0, 0, 0, 0.8);
    padding: 2%;

    @media screen and (max-width:768px){
        #evaluate-layer{
            position: absolute;
            width: 90vw;
            left: 0;
            top: 0;
            margin-top: 5vh;
            margin-left: 5vw;
            padding: 0;
            padding-bottom: 3vh;
        }
    }

    h5{
        font-size: 3vh;
    }
    h4{
        margin-top: 1vh;
        font-size: 4vh;
    }
}