%selectQuiz-div{
    top: 0;
    left: 0;
    position: fixed;
    width: 25vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover{
        #content{
            opacity: 1;
            transition: 0.5s;
        }
    }

    #layer{
        position: fixed;
        height: 100vh;
        width: 70vw;
        background-color: black;
        opacity: 0;
    }

    #content{
        position: fixed;
        height: 100vh;
        width: 70vw;
        opacity: 0;
        z-index: 1;

        h1{
            font-size: 6vh;
            letter-spacing: 0.2em;
            font-family: 'Rock Salt', cursive;
            margin-top: 10vh;
            color: white;
            color: #DC4C46;
            text-shadow: 2vh 2vh 1.5vh #000;
            font-weight: 900;

            @media screen and (max-width: 768px){
                font-size: 2.4vh;
                letter-spacing: 0;
            }
        }

        #button{
            border-color:#DC4C46;
            border-style: double;
            border-width: medium;
            height: 15vh;
            padding: 0;
            cursor: pointer;
            width: 60vw;
            height: 10vh;
            font-size: 5vh;
            background-color: rgba(255, 91, 91, 0.2);
            transition: 0.5s;
            box-shadow: 2vh 2vh 2vh #000;
            align-self: center;
            margin-top: 55vh;

            @media screen and (max-width: 768px){
                margin: 10%;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 80%;
                height: 8vh;
                border-color: rgba(255, 91, 91, 0.4);
                background-color: rgba(255, 91, 91, 0.1);
            }

            h1{
                font-family: 'PT Mono', monospace;
                transform: translateY(-8vh);
                color: white;
                font-size: 5vh;
                text-shadow: 0vh 0vh 0vh #000;
                transition: 0.5s;

                @media screen and (max-width: 768px){
                    font-size: 3vh;
                }
            }
            
            &:hover{
                background-color: rgba(0, 0, 0, 0.6);
                transform: scale(1.1);
                transition: 0.5s;
                
                h1{
                    color: #DC4C46;
                    transition: 0.5s;
                    text-shadow: 1.5vh 1.5vh 1.5vh #000;
                }
            }
        }

    }
}


body#index{
    @each $item, $margin in $list{
        ##{$item}{
            @extend %selectQuiz-div;
            margin-left: $margin;
            background-image: url("../images/#{$item}_half.jpg");

            &:hover{
                @media screen and (min-width: 769px){
                    background-image: url("../images/#{$item}_full.jpg");
                }

                #layer{
                    opacity: 0.7;
                }
            }

            @media screen and (max-width: 768px){
                position: relative;
                height: 50vh;
                width: 50vw;
                display: inline-block;
                float: left;
                margin: 0;
            }

            #content{
                @media screen and (max-width: 768px){
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }

            #layer{
                @media screen and (max-width: 768px){
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
        }
    }
}